<div class="admin-navbar">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="admin-nav">
          <nav>
            <ul class="nav-links">
              <li class="nav-item">
                <a routerLink="pro1" class="nav-btn" >Product</a>
              </li>
              <li class="nav-item">
                <a routerLink="catego" class="nav-btn" >Categories</a>
              </li>
              <li class="nav-item">
                <a routerLink="custom" class="nav-btn" >Customer</a>
              </li>
              <li class="nav-item">
                <a routerLink="role" class="nav-btn" >Role</a>
              </li>
              <li class="nav-item">
                <a routerLink="order" class="nav-btn" >Order</a>
              </li>
              <li class="nav-item">
                <a routerLink="new" class="nav-btn" >News</a>
              </li>
              <li class="nav-item">
                <a routerLink="newd" class="nav-btn" >NewsDetail</a>
              </li>
              <li class="nav-item">
                <a routerLink="orderdd" class="nav-btn" >OrderDetail</a>
              </li>
            </ul>
          </nav>
          <ul class="admin-inf">
            <li class="admin-item">
              Admin
            </li>
            <li class="log-out_item">
              <a [routerLink]="['']" >Log Out</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
