<app-header></app-header>
<div class="breadcrumb-section set-bg" data-setbg="assets/images/breadcrumb.jpg" style="background-image: url('assets/images/breadcrumb.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb__text">
          <h2>About Us</h2>
          <div class="breadcrumb__option">
            <a href="">Home</a>
            <span>- About Us</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-about">
  <div class="story-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <img src="assets/images/about/about-1.jpg" alt="">
        </div>
        <div class="col-lg-6">
          <div class="about__text">
            <div class="about-title">
              <h2>Our Story</h2>
            </div>
            <div class="about-content">
              <p><span>Ogani</span> is an e-commerce company specializing in providing organic and natural foods with organic food chains with the aim of helping Vietnamese consumers have a healthier life through organic foods. certified, natural and non-genetically modified (GMO) foods. We select organic and natural foods from manufacturers, domestic and foreign companies through a careful selection of supply capacity, certification standards issued by world-class prestigious organization. We love what we do and we're passionate about the benefits of a healthy lifestyle, sourcing the highest quality organic products for our customers and providing the best home delivery service.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="develop-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="about__text">
            <div class="about-title">
              <h2>Sustainable Development</h2>
            </div>
            <div class="about-content">
              <p><span>Organic farming</span> is getting better and better for our planet. We look to places where there are land, water, and air that are not polluted to build good ecosystems, we have outlined the best way to save emissions. We keep to a minimum with food scraps donated to local residents for composting and pet food. Our packaging is reusable and can be recycled. We use certified biodegradable and biodegradable bags. Our boxes are reusable and we ask you to exchange them with your next purchase.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <img src="assets/images/about/about-2.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="section-qualify">
    <div class="container">
      <div class="qualify-title">
        <h2>Qualify</h2>
      </div>
      <div class="qualify-content">
          <div class="row">
            <div class="col-lg-4">
              <div class="qualify">
                <i class="fas fa-shield-alt"></i>
                <h4>Safe Quatity</h4>
                <p>We choose fresh and certified organic produce. During our packaging, we also make sure that the quality of all products is further checked so that the delivered product is of the best standard.</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="qualify">
                <i class="fas fa-headset"></i>
                <h4>Customer Care</h4>
                <p>Our mission is to provide the best service to customers, to help you enjoy the best shopping experience. We love interacting with our customers and we welcome feedback on your services.</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="qualify">
                <i class="far fa-thumbs-up"></i>
                <h4>High Qualify</h4>
                <p>Most of the products we offer are certified organic in addition to some organic, purely natural interventions where we also have some local growers.</p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
